@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";

}
<div class="row">
    @await Html.PartialAsync("CollectionLeftMenu", Model.CollectionsList)
    <div class="col">
        <form method="post">
            <div>
                <input type="text" name="serachTxt" />
                <button asp-controller="Home" asp-action="Search" type="submit">Поиск</button>
            </div>
        </form>
        <form method="post"> 
            <div>
                <label asp-for="Filters.StartPrice">Цена от:</label>
                <input asp-for="Filters.StartPrice" />
                <label asp-for="Filters.EndPrice">До:</label>
                <input asp-for="Filters.EndPrice" />
                <label asp-for="Filters.MinQuantity">Кол-во от::</label>
                <input asp-for="Filters.MinQuantity" />
                <label asp-for="Filters.MaxQuantity">До:</label>
                <input asp-for="Filters.MaxQuantity" />
                <label asp-for="Filters.Sex">Пол:</label>
                <input asp-for="Filters.Sex" />
                <label asp-for="Filters.Color">Цвет:</label>
                <input asp-for="Filters.Color" />
                <label asp-for="Filters.Category">Категория:</label>
                <input asp-for="Filters.Category" />
                <label asp-for="Filters.Size">Размер</label>
                <input asp-for="Filters.Size" />
                <button asp-controller="Home" asp-action="Filter" type="submit">Фильтр</button>
            </div>
        </form>
        <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-3 card shadow">
                <div class="card-body ">
                    <img style="column-fill" width="200" src="@product.ImagePaths.FirstOrDefault()" alt="@product.ImagePaths.FirstOrDefault()" />
                    <a style="color:black" 
                    asp-area="" 
                    asp-controller="Product"
                    asp-action="Index"
                    asp-route-id="@product.Id">
                    <h5>@product.Name</h5></a>
                    <h5>@product.Price</h5>
                    <a class="btn btn-success" 
                    asp-area=""
                    asp-controller="Home"
                    asp-action="compare"
                    asp-route-id="@product.Id" 
                    role="button" >Comp</a>
                    <a class="btn btn-success" 
                    asp-area=""
                    asp-controller="Favorite"
                    asp-action="Add"
                    asp-route-id="@product.Id" 
                    role="button">inFav</a>
                    <a class="btn btn-success" 
                    asp-area=""
                    asp-controller="Cart"
                    asp-action="Add"
                    asp-route-id="@product.Id"
                    role="button">Buy</a>
                </div>
        
            </div>
        }

        </div>
    </div>
</div>