@model OrderViewModel
@{
    int  priceOfAllProductsInOneCopy = 0;
    int productsCount = 0;
}

<div class="text-center">
    <h2>@Model.Name</h2>
    <table class="table table-striped">
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Стоимость 1 товара</th>
            <th>Цена</th>
        </tr>
        @foreach (var item in Model.Cart.Positions)
        {
            <tr>
                <td><a 
                    asp-area=""
                    asp-controller="Product"
                    asp-action="Index"
                    asp-route-id="@item.Product.Id">@item.Product.Name</a></td>
                <td>@item.Quantity</td>
                <td>@item.Product.Price</td>
                <td>@item.Price</td>
                @{
                    priceOfAllProductsInOneCopy += Convert.ToInt32(item.Product.Price);
                    productsCount += item.Quantity;
                }
            </tr>
        }
        <tr>
            <td>Итого:</td>
            <td>@productsCount</td>
            <td>@priceOfAllProductsInOneCopy</td>
            <td>@Model.Cart.price</td>
        </tr>
    </table>
</div>